.container{
    display: grid;
    height: 400px;
    grid-template-columns: auto 1fr;
    grid-auto-rows: min-content;
}

.grid-container{
    display: grid;
    gap: 5px;
    grid-template-columns: 150px 170px;
    grid-template-rows: repeat(8, max-content);
    grid-template-areas: "nom iNom" 
    "aP iAP"
    "aM iAM"
    "dir iDir"
    "reg selReg"
    "com selCom"
    ". ."
    ". boton";
    border-top: 2px solid gray;
    border-right: 1px solid gray;
    border-bottom: 2px solid gray;
    border-left: 2px solid gray;
    padding: 20px;
}

.list-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: max-content;
    gap: 5px;
    border-top: 2px solid gray;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    border-left: 1px solid gray;
    padding: 20px;
}

.list-item{
    color: white;
    background-color: gray;
    padding: 5px 10px;
    display: block;
}

.input{
    padding: 5px 10px;
    background-color: powderblue;
    border: none;
}

.label{
    padding: 5px 10px;
    background-color: lightgray;
    height: 18px;
}

.lnom{
    grid-area: nom;
}

.nom{
    grid-area: iNom;
}

.lap{
    grid-area: aP;
}

.ap{
    grid-area: iAP;
}

.lam{
    grid-area: aM;
}

.am{
    grid-area: iAM;
}

.ldir{
    grid-area: dir;
}

.dir{
    grid-area: iDir;
}

.lreg{
    grid-area: reg;
}

.reg{
    grid-area: selReg;
}

.lcom{
    grid-area: com;
}

.com{
    grid-area: selCom;
}

.boton{
    grid-area: boton;
    background-color: green;
    border: 0;
    color: white;
    box-shadow: none;
    padding: 5px 10px;
}

.Test{
    color: white;
}